build/*
.vscode/*
*.cfg
__*
*.o
*.bak
core*
3ts
rundb
runcl
3ts_dbtest
*.swp
CMakeCache.txt
CMakeFiles/*
*.cmake
Makefile
cmake/*
src/dbtest/CMakeFiles/*
src/dbtest/mongodb/*
src/dbtest/.vscode/*
src/dbtest/build/*
src/dbtest/mongodb
src/dbtest/t/mongodb_p