build/*
.vscode/*
*.cfg
__*
*.o
*.bak
core*
3ts
rundb
runcl
3ts_dbtest
3ts_dbtest_v2
*.swp
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile
cmake/*
src/dbtest/check_result
src/dbtest/t/innodb
src/dbtest/t/test_case_v2
src/dbtest/databases/mariadb/mariadb
src/dbtest/databases/pg/pg
src/dbtest/databases/mysql/mysql
src/dbtest/databases/crdb/crdb
src/dbtest/databases/polar/polar
src/dbtest/databases/polar-old/polar-old
src/dbtest/databases/mariadb/mariadb
src/dbtest/databases/mariadb/screenlog.0
src/dbtest/.vscode
